<table class="table">
    <thead>
        <tr class="info">
            <th class="timetable"></th>
            <th class="timetable">08-10hrs</th>
            <th class="timetable">10-12hrs</th>
            <th class="timetable">16-17hrs</th>
            <th class="timetable">17-18hrs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="info timetable"><strong>Monday</strong></td>
            <td class="timetable">FS</td>
            <td class="timetable">DM</td>
            <td class="timetable">SNM</td>
            <td class="timetable">DLD</td>
        </tr>
        <tr>
            <td class="info timetable"><strong>Tuesday</strong></td>
            <td class="timetable">FS</td>
            <td class="timetable">DM</td>
            <td class="timetable">SNM</td>
            <td class="timetable">DLD</td>
        </tr>
        <tr>
            <td class="info timetable"><strong>Wednesday</strong></td>
            <td class="timetable">FS</td>
            <td class="timetable">DM</td>
            <td class="timetable">SNM</td>
            <td class="timetable">DLD</td>
            <tr>
                <td class="info timetable"><strong>Thursday</strong></td>
                <td class="timetable">FS</td>
                <td class="timetable">DM</td>
                <td class="timetable">SNM</td>
                <td class="timetable">DLD</td>
            </tr>
            <tr>
                <td class="info timetable"><strong>Friday</strong></td>
                <td class="timetable">FS</td>
                <td class="timetable">DM</td>
                <td class="timetable">SNM</td>
                <td class="timetable">DLD</td>
            </tr>
            <tr>
                <td class="info timetable"><strong>Sartuday</strong></td>
                <td class="timetable">FS</td>
                <td class="timetable">DM</td>
                <td class="timetable"></td>
                <td class="timetable"></td>
            </tr>
            <tr>
                <td class="info timetable"><strong>Sunday</strong></td>
                <td class="timetable"></td>
                <td class="timetable"></td>
                <td class="timetable"></td>
                <td class="timetable"></td>
            </tr>
    </tbody>
</table>