.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #ccc;
}

.devider {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-header {
    border-bottom: 1px solid #fff;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 430px;
        margin: 30px auto;
    }
}