<div>
    <div>
        <h4>{{ users.name }}</h4>
    </div>
    <div>
        <div class="row">
            <div class="col-3" align="center"> <img alt="{{ users.name }}" src="http://1.gravatar.com/avatar/d69a308d3dc7b68ae80f7ada5742fd29?s=96&d=mm&r=g" class="img-fluid"> </div>
            <div class=" col-9">
                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row">Student Reg No. :</td>
                            <td>201511/2385</td>
                        </tr>
                        <tr>
                            <td scope="row">Program :</td>
                            <td>Bachelor Degree in Hardware and Networking</td>
                        </tr>
                        <tr>
                            <td scope="row">Year :</td>
                            <td>Year 2, Semester. 4 <br>
                                <div class="progress m-b-20">
                                    <div class="progress-bar progress-bar-primary " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; height: 1px;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Status :</td>
                            <td>Active </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>