<div class="media">
    <i class="fa fa-file-word-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Advanced SQL</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<div class="media">
    <i class="fa fa-file-pdf-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Operating System</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<div class="media">
    <i class="fa fa-file-word-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Advanced Object Oriented Programing</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<div class="media">
    <i class="fa fa-file-pdf-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Logic and Discrete Mathematics</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<div class="media">
    <i class="fa fa-file-word-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Business Organisation</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<div class="media">
    <i class="fa fa-file-pdf-o fa-5x d-flex mr-3" aria-hidden="true"></i>
    <div class="media-body">
        <h5 class="mt-0">Computer Graphics</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>