.jumbotron {
    /* background-image: url(../../assets/images/mac.svg);
    Full height
    height: 100%; */
    /* Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #fff;
    //padding: 1rem 2rem;
}

.display-3 {
    //font-size: 2.5rem;
    //font-weight: 300;
    //line-height: 1;
}